.product-details {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 40px;
  }
  
  .detail-image {
    width: 50%;
    border-radius: 10px;
  }
  
  .detail-info {
    flex: 1;
  }
  
  .detail-info h1 {
    margin-bottom: 10px;
  }
  
  .add-to-cart-btn {
    padding: 10px 20px;
    background: #d62828;
    color: white;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .add-to-cart-btn:hover {
    background: #9b2226;
  }
  